{% extends "base.html" %}

{% block lab %}Калькулятор{% endblock %}

{% block content %}
    {% if error %}
        <div class='error'>{{ error }}</div>
    {% else %}
        {% if current_page == 'lab4_div' %}
            <form method="post" action="/lab4/div">
                <input type="number" name="x1" value="{{ x1 or '' }}"> / 
                <input type="number" name="x2" value="{{ x2 or '' }}">
                <input type="submit" value="=">
            </form>
        {% elif current_page == 'lab4_mult' %}
            <form method="post" action="/lab4/mult">
                <input type="number" name="x1" value="{{ x1 or '' }}"> * 
                <input type="number" name="x2" value="{{ x2 or '' }}">
                <input type="submit" value="=">
            </form>
        {% elif current_page == 'lab4_add' %}
            <form method="post" action="/lab4/add">
                <input type="number" name="x1" value="{{ x1 or '' }}"> + 
                <input type="number" name="x2" value="{{ x2 or '' }}">
                <input type="submit" value="=">
            </form>
        {% elif current_page == 'lab4_sub' %}
            <form method="post" action="/lab4/sub">
                <input type="number" name="x1" value="{{ x1 or '' }}"> - 
                <input type="number" name="x2" value="{{ x2 or '' }}">
                <input type="submit" value="=">
            </form>
        {% elif current_page == 'lab4_expo' %}
            <form method="post" action="/lab4/expo">
                <input type="number" name="x1" value="{{ x1 or '' }}"> ** 
                <input type="number" name="x2" value="{{ x2 or '' }}">
                <input type="submit" value="=">
            </form>
        {% endif %}
    {% endif %}
    
    {% if result is defined %}
        <p>Результат: 
        {% if current_page == 'lab4_div' %}
            {{ x1 }} / {{ x2 }} = {{ result }}
        {% elif current_page == 'lab4_mult' %}
            {{ x1 }} * {{ x2 }} = {{ result }}
        {% elif current_page == 'lab4_add' %}
            {{ x1 }} + {{ x2 }} = {{ result }}
        {% elif current_page == 'lab4_sub' %}
            {{ x1 }} - {{ x2 }} = {{ result }}
        {% elif current_page == 'lab4_expo' %}
            {{ x1 }} ** {{ x2 }} = {{ result }}
        {% endif %}
        </p>
    {% endif %}
    <div>
        <a href="/lab4/">Назад к лабораторной работе 4</a>
    </div>
{% endblock %}