{% extends "base.html" %}

{% block lab %}Посадка деревьев{% endblock %}

{% block main %}
    <h1>Посадка деревьев</h1>
    <div>Посажено деревьев: {{ tree_count }} / {{ tree_max }}</div>
    
    <form method="post">
        <button name="operation" value="plant" 
                {% if tree_count == tree_max %}disabled{% endif %}>
            Посадить дерево
        </button>
        
        <button name="operation" value="cut" 
                {% if tree_count == 0 %}disabled{% endif %}>
            Срубить дерево
        </button>
    </form>

{% endblock %}