{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Cookies</h1>
    <form>
        <div>
            <label for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">

            <label for="background">Выберите цвет фона:</label>
            <input type="color" id="background" name="background" value="{{ background or '' }}">

            <label for="font_size">Выберите размер шрифта:</label>
            <input type="text" id="font_size" name="font_size" value="{{ font_size or '16' }}">
            
            <label for="font_family">Выберите тип шрифта:</label>
            <select id="font_family" name="font_family">
                <option value="Arial" {% if font_family == 'Arial' %}selected{% endif %}>Arial</option>
                <option value="Times New Roman" {% if font_family == 'Times New Roman' %}selected{% endif %}>Times New Roman</option>
                <option value="Georgia" {% if font_family == 'Georgia' %}selected{% endif %}>Georgia</option>
                <option value="Verdana" {% if font_family == 'Verdana' %}selected{% endif %}>Verdana</option>
            </select>
        </div>

        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}