{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи: <input type="text" name="title" required>
            </label>
        </div>

        <div>
            <textarea name="article_text" placeholder="Текст статьи" style="width: 100%; height: 200px;" required></textarea>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_public">
                Публичная статья
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_favorite">
                Избранная статья
            </label>
        </div>

        <button type="submit">Создать статью</button>
        <a href="/lab5/list">Отмена</a>
    </form>
{% endblock %}