{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1></h1>
    <div></div>
    <ul>
        <li><a href="/index">Курс</a></li>
        <li><a href="/lab5/login">Вход</a></li>
        <li><a href="/lab5/register">Регистрация</a></li>
        <li><a href="/lab5/list">Список статей</a></li>
        <li><a href="/lab5/create">Создать статью</a></li>
        <p>anonymous<p>
    </ul>
    <style>
        
        .error-container {
            margin: 15px 0;
            padding: 10px;
            border-left: 4px solid #ff4444;
            width: fit-content; 
            max-width: 500px; 
        }
        .error-message {
            color: #d32f2f;
            font-weight: bold;
            margin: 5px 0;
            padding: 5px;
            background-color: #ffebee;
            border-radius: 4px;
        }
    </style>
{% endblock %}
