{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>
        Тема лабораторной - шаблоны. Список сделанных страниц:
    </div>
    <ul>
        <li><a href="/index">Курс</a></li>
        <li><a href="/lab2/filters">Фильтры</a>
        <li><a href="/lab2/add_flower">Ошибка заполнения имени цветка</a>
        <li><a href="/lab2/flowers/">Ошибка заполнения номера цветка</a>
        <li><a href="/flowers_full">Все цветы</a></li>
        <li><a href="/flowers_clear">Очищение списка цветов</a></li>
        <li><a href="/lab2/example">Числа и фрукты</a></li>
        <li><a href="/lab2/calc/">Калькулятор</a></li>
        <li><a href="/lab2/book/">Книги</a></li>
    </ul>
{% endblock %}