{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 8{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Вход</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if errors %}
        <ul style="color:red;">
        {% for msg in errors.values() %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        <p>
            Логин:<br>
            <input type="text" name="login" value="{{ login or '' }}">
        </p>
        <p>
            Пароль:<br>
            <input type="password" name="password">
        </p>
        <p>
            <label>
                <input type="checkbox" name="remember">
                Запомнить меня
            </label>
        </p>
        <button type="submit">Войти</button>
    </form>

    <p><a href="/lab8/">На главную</a></p>


{% endblock %}